#products {
    div {
        border: 1px solid black;
    }
    img {
        width: 100px;
        height: 100px;
    }
}
#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: aquamarine;
    display: grid;
    place-items: center;
    img {
        border: 0;
    }
}
#product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div {
        width: 30%;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
    }
    img {
        width: 200px;
        height: 150px;
    }
    h2 {
        text-align: left;
        color: black;
    }
    p {
        text-align: left;
    }
}
#related-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    div {
        border: 1px dashed black;
        width: 150px;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

#header {
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: #fff;
        background-color: blue;
        a {
            color: black;
        }
    }
    .language {
        display: flex;
        justify-content: flex-end;
        button {
            margin: 0 10px;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
